/*!
Theme Name: MJS Umroh
Theme URI: https://underscores.me/
Author: Arhi
Author URI: https://automattic.com/
Version: 1.2.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: mwt
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

.responsive-tabs-wrapper .teks_statis p,
.responsive-tabs-wrapper .teks_statis ul li,
.entry-content p, .entry-content ul li, .entry-content ol li {
  color: #240505;
}

.page-template-template-account .temukan_jadwal_umroh {
  display: none !important;
}

.sub-menu {
  margin-left: 0;
}

.halaman_lis_artikel .hla_lisna .hla_lisna_blok .hla_lb_gbr .hla_lb_gbr_pidio {
  background-color: rgba(255, 0, 0, 0.1);
}
.halaman_lis_artikel .hla_lisna .hla_lisna_blok .hla_lb_gbr .hla_lb_gbr_pidio:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content p {
  line-height: 1.5;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

footer .handap_lis .hl_sosmed a i {
  background-image: unset;
}

/* #video-perkenalan .pu_lis {
  width:65%;
  margin:0 auto;
  margin-top:30px;
}

@media only screen and (max-width : 480px) {
  #video-perkenalan .pu_lis {
    width:100%;
  }
} */

#video-perkenalan .tju_kenca {
	display: inline-block;
	vertical-align: middle;
	width: 580px;
	margin-right: 50px;
}

#video-perkenalan .tju_katuhu {
	display: inline-block;
	vertical-align: middle;
	width: 350px;
	text-align: left;
}

@media only screen and (max-width : 960px) {
  #video-perkenalan .tju_kenca {
    width:100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  #video-perkenalan .tju_katuhu {
    width: 100%;
    text-align:center;
  }
}